@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------Colors*/

/*------------------------------------Colors*/
body {
    background-color: #fafafa
}

section.services.container p {
    margin: 3rem;
}

hr {
    width: 25%;
    border-color: #ffc107;
    margin-bottom: 25px;
}



/*------------------------------------Header */

.header {
    background: black;
    text-transform: uppercase;
}

#logo {
    width: 500px;
    height: 100%;

}

#logo:hover {
    color: rgba(251,170,25, 1);
}

.nav a {
    color: #fafafa;
    margin: auto;
}

.nav a:hover {
    color: rgba(251,170,25, 1);
}

.header a h2 {
    color: #fafafa;
    text-decoration: none;
}



.header a:link {
  text-decoration: none;
}


/*------------------------------------Hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../Images/Ed-Shorts.jpg");
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


#catchphrase {
    height: 100px;
    width: 50%;
    float: left;
    margin-top: 15%;
    margin-left: 10%;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-style: oblique;

}

#booknow {
    height: 350px;
    width: 50%;
    float: left;
    margin-left: 10%;
}

#booknow button {
    color: #fafafa;
}
/*------------------------------------Footer */


.social-links {
    padding-top: 10px;

}
.social-links li a i {
    width: 20px;
    height: 20px;
    padding: 12px 30px;
    font-size: 20px;
    line-height: 7px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: rgba(251,170,25, 1);
}

#contact {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#contact li a {
    text-decoration: none;
    font-size: 12px;
    color: #fafafa;
}

#contact li a i {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#contact li a i:hover {
    color: rgba(251,170,25, 1);
}

.seperator { 
    color: rgba(251,170,25, 1); 
}


.footer {
background-color: rgba(0, 0, 0, 1);
background: cover;
text-align: center;
}


/*------------------------------------Menu */

/*------------------------------------My Services Section */


.services {
background-color: #fafafa;
text-align: center;
}

.services.container {
    margin: auto;
}

.services h2 {
    text-align: center;
    padding-top: 90px;
}


.services-card { 
  margin: auto;
  margin-bottom: 4rem;
}

section.services.container p {
    margin: 3rem;
}

.more-info {
    color: #ffc107;
    padding-left: 10px;
}

.services-more-info {
   margin-bottom: 8rem;
   margin-top: 3rem;
   margin: auto;
}

.services-more-info p {
    text-align: left;
}

div.card {
    background-color: #fafafa;
}

.services-explained { 
    margin-top: 8rem;;
}

/*------------------------------------Contact Section */


.contact {
background-color: #fafafa;
margin-top: 90px;
}

.contact h2 {
    margin-top: 8px;
    padding: 30px;
    text-align: center;
}

#map {
    margin: auto;
    padding-bottom: 30px;
}

.contact form {
    margin-bottom: 30px;
}
/*------------------------------------Testimonials Section */

#ciaran, #sam, #glen {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.testimonials {
background-color: #fafafa;
margin-top: 90px;
}

.testimonials div h2 {
margin-top: 8px;
padding: 30px;
text-align: center;
}

.card-group {
    border: 0;
    border-color: none;
}

div.card {
    border: 0;
}

/*------------------------------------Physiotherapy Section */

/*------------------------------------Personal Training Section */

/*------------------------------------Special Offer Section */

/*------------------------------------About Me Section */

/*------------------------------------Hover.css */
