@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------Colors*/


.header {
background-color: rgba(0, 0, 0, 1);
background-size: cover;
}



rgb(251,170,25) 

/*------------------------------------Special Paddings/text/margins */

/*------------------------------------Heading */

.header {
background-color: rgba(0, 0, 0, 1);
background-size: cover;
}

/*------------------------------------Footer */

.footer {
background-color: rgba(0, 0, 0, 1);
background-size: cover;
}


/*------------------------------------My Services Section */

.services {
background-color: #fafafa;
}

/*------------------------------------Contact Section */

.contact {
background-color: #fafafa;
}

/*------------------------------------Testimonials Section */

.testimonials {
background-color: #000;
}

/*------------------------------------Physiotherapy Section */

/*------------------------------------Personal Training Section */

/*------------------------------------Special Offer Section */

/*------------------------------------About Me Section */

/*------------------------------------Hover.css */
