@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------Colors*/

/*------------------------------------Header */

.header {
background: url("../Images/Ed-Shorts.jpg");
background-size: cover;
background-position: center -450px;
background-repeat: no-repeat;
min-height: 800px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
background-attachment: fixed;
}

.logo {
    background: url("../Images/blacklogo.eps");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*------------------------------------Topbar */

.topbar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 25px;
}

#topbar-nav {
padding-right: 100px;
}

#topbar-nav li {
float: right;
padding-right: 50px;

}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: rgba(251,170,25, 1);
}

#contact {
    padding-left: 100px;
}

#contact li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#contact li a i:hover {
    color: rgba(251,170,25, 1);
}

.seperator { 
    color: rgba(251,170,25, 1); 
}
/*------------------------------------Footer */

footer {
background-color: rgba(0, 0, 0, 1);
background-size: cover;
}

/*------------------------------------Menu */

.nav {
    float: right;
    position: fixed;
    padding-right: 400px;
}

.menu-item {
    list-style: none;
    height: 20px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
}

/*------------------------------------My Services Section */

.services {
background-color: #fafafa;
}

/*------------------------------------Contact Section */

.contact {
background-color: #fafafa;
}

/*------------------------------------Testimonials Section */

.testimonials {
background-color: #000;
}

/*------------------------------------Physiotherapy Section */

/*------------------------------------Personal Training Section */

/*------------------------------------Special Offer Section */

/*------------------------------------About Me Section */

/*------------------------------------Hover.css */
