@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------Colors*/

/*------------------------------------Colors*/
body {
    background-color: #fafafa;
    width: 100%;
}

section.services.container p {
    margin: 3rem;
}

hr {
    width: 25%;
    border-color: #ffc107;
    margin-bottom: 25px;
}



/*------------------------------------Header */

.header {
    background: black;
    text-transform: uppercase;
    height: 75px;
    width: 100%;
}

nav.active a {
    color: #ffc107;
}

#logo {
    width: 500px;
    height: 100%;
    margin: auto;
    padding-top: 15px;
    float: left;
}

@media screen and (max-width:943px){
    #logo {
    width: 300px;
    height: 100%;
    margin: auto;
    font-size: large;
    padding-top: 30px;
    float: left;
}
}

#logo:hover {
    color: #ffc107;
}

.nav a {
    color: #fafafa;
    margin: auto;
    padding-top: 20px;
}

.dropdown-menu {
 background-color: #000;
 margin-top: 20px;
}

#nav-drop {
    padding-top: 20px;
    font-size: large;
}

@media screen and (max-width:1025px){
    #nav-menu, #logo, .logo{
        display: none;
    }
}

@media screen and (min-width:1025px){
    #nav-drop {
        display: none;
    }
}

.nav a:hover {
    color: #ffc107;
}

.header a h2 {
    color: #fafafa;
    text-decoration: none;
}



.header a:link {
  text-decoration: none;
}


/*------------------------------------Hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../Images/Ed-Shorts.jpg");
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


#booknow {
    margin-top: 300px;
    margin-right: 20%;
    margin-left: 20%;
    height: 600px;
}

#booknow button {
    color: #fafafa;
    height: 75px;
    width: 200px;
}
/*------------------------------------Footer */


.social-links {
    padding-top: 10px;

}
.social-links li a i {
    width: 20px;
    height: 20px;
    padding: 12px 30px;
    font-size: 20px;
    line-height: 7px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #ffc107;
}

#contact {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#contact li a {
    text-decoration: none;
    font-size: 12px;
    color: #fafafa;
}

#contact li a i {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#contact li a i:hover {
    color: #ffc107;
}

.seperator { 
    color: #ffc107;
}


.footer {
background-color: rgba(0, 0, 0, 1);
background: cover;
text-align: center;
}


/*------------------------------------Menu */

/*------------------------------------My Services Section */


.services {
background-color: #fafafa;
text-align: center;
}

.services.container {
    margin: auto;
}

.services h2 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}


.services-card { 
  margin: auto;
  margin-bottom: 4rem;
}

section.services.container p {
    margin: 3rem;
}

.more-info {
    color: #ffc107;
    padding-left: 10px;
}

.services-more-info {
   margin-bottom: 8rem;
   margin-top: 3rem;
   margin: auto;
}

.services-more-info p {
    text-align: left;
}

div.card {
    background-color: #fafafa;
}

.services-explained { 
    margin-top: 8rem;;
}

/*------------------------------------Contact Section */


.contact {
background-color: #fafafa;
margin-top: 90px;
}

.contact h2 {
    margin-top: 8px;
    padding: 30px;
    text-align: center;
}

#map {
    margin: auto;
    padding-bottom: 30px;
}

.contact form {
    margin-bottom: 30px;
}
/*------------------------------------Testimonials Section */

#ciaran, #sam, #glen {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.testimonials {
background-color: #fafafa;
margin-top: 90px;
}

.testimonials div h2 {
margin-top: 8px;
padding: 30px;
text-align: center;
}

.card-group {
    border: 0;
    border-color: none;
}

div.card {
    border: 0;
}

/*------------------------------------Physiotherapy Section */

/*------------------------------------Personal Training Section */

/*------------------------------------Special Offer Section */

/*------------------------------------About Me Section */

.about-us {
    background-color: #fafafa;
    text-align: left;
}

.about-us.container {
    margin: auto;
}

.about-us h2 {
    text-align: center;
    padding-top: 90px;
}

section.about-us.container p {
    margin: 3rem;
}

section.about-us.container h4 {
    margin-left: 3rem;
}
/*------------------------------------Book Now */


.book-now {
    background-color: #fafafa;
    text-align: left;
}

.book-now.container {
    margin: auto;
}

.book-now h2 {
    text-align: center;
    padding-top: 90px;
}

section.book-now.container p {
    margin: 3rem;
}

section.book-now.container h4 {
    margin-left: 3rem;
}

.apt-time, .apt-types {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.book-now button {
    margin-bottom: 20px;
}